@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family:"Fira Sans", serif;
    background-color: #F5F5F5;
}
.share_mar_lr{
    /* margin-left: 160px;
    margin-right: 160px;   */
    margin: 0 160px;
}
.btn{
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 17px 34px;
    border: none;
}
img{
    width: 100%;
}

.cl_30{
    color: #0E0E0E4D;
}
.cl_50{
    color: #0E0E0E80;
}
.cl_60{
    color: #0E0E0E99;
}
.cl_70{
    color: #0E0E0EB3;
}
.cl_80{
    color: #0E0E0ECC;
}
.cl_100{
    color: #0E0E0E;
}
.crt_cl1{
    background-color: #5490F533;
}
.crt_cl2{
    background-color: #C6E4D6;
}
.crt_cl3{
    background-color: #F7EBCF;
}
.section_head{
    color: #0E0E0E;
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 28px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 1580px;
    margin-right: 160px;
    margin-bottom: 22px;
    padding: 24px 160px;
}
nav h3{
    width:222px ;
    height:38px ;
    font-size: 32px;
    font-weight: 700;
    margin: 31px auto;
    color: #0E0E0E;
}
nav button{
    height: 62px;
    width: 140px;
    font-size: 20px;
    font-weight: 700;
    margin: 31px auto;
    padding: 15px 30px;
    border-radius: 8px;
    border:1px solid #006A50;
    color: #006A50;
    cursor: pointer;
    background-color: #FFFFFF;
}
.baner_parent{
    height: 560px;
    width: 1380px;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    gap: 64px;
    padding: 80px 100px;
}
.baner_parent *{
    background-color: #C6E4D6;
}
.title_sec{
    height: 372px;
    width: 700px;
}
.title_sec h2{
    font-size: 30px;
    height: 28px;
    width: auto;
    color: #0E0E0E80;
    margin-bottom: 18px;
    font-weight: 500;
}
.title_sec p{
    font-size:63px;
    height: 201px;
    width: 700px;
    color: #0E0E0E;
    font-weight: 700;
    margin-bottom:58px;
}
.title_sec button{
    width:312px ;
    height:66px;
    font-size: 20px;
    font-weight: 500;
    background-color: #006A50;
    cursor: pointer;
}
.image_sec{
    height:400px ;
    width: 573px;
}
.pilar{
    width: 1580px;
    height: 392px;
    margin: 106px 160px;
}
.pilar_cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pilar_cart_del{
    margin-top:12px;
    padding: 24px;
    height: 245px;
    width: 320px;
    border-radius: 16px;
    border: 1px solid 1px #0E0E0E26;
    background-color: #FFFFFF;
}
.pil_img{
    width: 75px;
    height: 93px;
    margin-bottom: 20px;
}
.para{
    margin-top: 14px;
    font-size: 20px;
    line-height: 28px;
}
.pilar_cart_del *{
    background-color: rgba(255, 255, 255, 0);
}
.vision_sec{
    width: 1580px;
    height:918px ;
    margin: 106px 160px;
}
.vision_main_cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vision_cart{
    /* height:390px ; */
    /* width:505px ; */
    height: 325px;
    width: 440px;
    margin: 38px 1px;
    padding: 32px;
    border-radius: 16px;
}
.vision_cart *{
    background-color: rgba(255, 255, 255, 0);
}
.vis_buton button{
    margin-top: 28px;
    padding: 11px 20px;
    height: 48px;
    width: 146px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.crt_bt1 button{
    background-color:#5490F5 ;
}
.crt_bt2 button{
    background-color: #09A15C;
}
.crt_bt3 button{
    background-color:#FFC239 ;
}
.ditel{
    height:125px ;
    width: auto;
}
.quate{
    /* width: 1580px;
    height: 310px; */
    width: 1516px;
    height: 190px;
    border-radius: 16px;
    border: 1px solid 1px 1px inside #0E0E0E26;
    background-color: #FFFFFF;
    background-image: url(../pic_1/quote-bg.png);
    background-repeat: no-repeat;
    background-position-x: 2%;
    background-position-y: 12%;
    background-size: 85px;
    padding: 60px 32px;
}
.quate *{
    background-color: rgba(255, 255, 255, 0);
}
.ex_pra{
    margin-top: 0px;
}
.ex_h2{
    font-size:25px;
}
.ex_del{
    margin-top: 5px;
}
.news{ 
    width: 1580px;
    height:1740px ;
    margin: 106px 160px;
}

.card_1{
    display: flex;
    gap: 64px;
    align-items: center;
    background-color: #FFFFFF;
    height: auto;
    width: auto;
    border-radius: 24px;
    margin-top:40px;
    padding:60px;
}
.card_1 *{
    background-color: rgba(255, 255, 255, 0);
}
.news_img img{
    height: 368px;
    width: 490px;
    border-radius: 24px;
}
.news_title{
    height: 368px;
    width: auto;
}
.img_tit{
    height: 50px;
    width: 160px;
}
.news_head{
    font-size: 28px;
    font-weight: 500;
    margin: 8px 0px 16px 0px;
    color: #0E0E0E;
}
.news_but button{
    width: 166px;
    height: 58px;
    border-radius: 8px;
    border: none;
    background-color: #006A50;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #FFFFFF;
    margin-top: 38px;
}
.row_rev{
    flex-direction: row-reverse;
}
.sec_donate{
    width: 1580px;
    height: 560px;
    margin: 106px 160px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
.ex_pos{
    text-align: center;
    padding: 0px 100px;
    margin: 0px 0px;
}
.taka{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tk_bt{
    width: 305px;
    height: 154px;
    margin: 0px 14px;
    border-radius: 16px;
    border: 1px solid 1px #0E0E0E26;
    color: #0E0E0E;
    background-color: #FFFFFF ;
    font-size: 48px;
    font-weight: 700;
    cursor: pointer;
}
.int_cl{
background-color: #C6E4D6;
}
.int_siz input{
    width: 1250px;
    height: 75px;
    border: none;
    border: none;
    background-color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
    font-size: 24px;
}
.dn_but{
    width: 182px;
    height: 70px;
    border-radius: 8px;
    border: 1px solid 1px	Inside  #0E0E0E1A;
    background-color: #006A50;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.sec_sub{
    height: 315px;
    width: 800px;
    margin: 106px 160px;
    background-color:#C6E4D6;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding: 80px 390px;
}
.sec_sub *{
    background-color:#C6E4D6;
}
.mar_pad{
    margin: 0px;
    padding: 0px;
    text-align: center;

}
.end_flx{
    display: flex;
    align-items: center;
}
.end_inp{
    width: 716px;
    height: 65px;
    padding-left: 50px;
    font-size: 18px;
    border: none;
    background-color: #FFFFFF;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.end_but{
    width: 175px;
    height: 65px;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #006A50;
    font-weight: 700;
    cursor: pointer;
}
footer{
    /* height: 272px;
    width: 1920px; */
    height: 122px;
    width: 1770px;
    padding: 75px;
    background-color: #FFFFFF;
    justify-items: center;
}
footer *{
    background-color: #FFFFFF;
}
.img_sz{
    width: 30px;
    height: 28px;
    margin: 0px 12px;
}
footer h2{
    font-size: 38px;
    width: 700;
}
hr{
    margin: 30px 0px;
    width: 1200px;
    
}

.bttn:hover{
    background-color: #ff6f61;
    color:  #FFFFFF;
}
.cld1:hover{
    background-color: #e0ffe0;
}
.cld2:hover{
    background-color:#e6e6fa ;
}
.cld3:hover{
    background-color: #ffd1dc;
}
.cld4:hover{
    background-color:#e0ffff ;
}
.ctt1:hover{
    background-color:#4aa2ef ;
}
.ctt2:hover{
    background-color:#94d6ff ;
}
.ctt3:hover{
    background-color:#ffb7c6 ;
}